**

!Reference/

!Reference/FLDCF/
!Reference/FLDCF/Forgery-localization-for-remote-sensing/
!Reference/FLDCF/Forgery-localization-for-remote-sensing/requirement.txt
!Reference/FLDCF/Forgery-localization-for-remote-sensing/src/
!Reference/FLDCF/Forgery-localization-for-remote-sensing/src/**
!Reference/FLDCF/Forgery-localization-for-remote-sensing/model/
!Reference/FLDCF/Forgery-localization-for-remote-sensing/model/**

!Reference/FECDNet/
!Reference/FECDNet/FECDNet/
!Reference/FECDNet/FECDNet/api/
!Reference/FECDNet/FECDNet/api/**
!Reference/FECDNet/FECDNet/module/
!Reference/FECDNet/FECDNet/module/**
!Reference/FECDNet/FECDNet/utils/
!Reference/FECDNet/FECDNet/utils/**
!Reference/FECDNet/FECDNet/model/
!Reference/FECDNet/FECDNet/model/**
